@use '../abstracts' as a;

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__circle {
    width: 2rem;
    aspect-ratio: 1;
    border: 0.2rem solid a.$color-border;
    border-top-color: a.$color-primary;
    border-radius: 50%;
    animation: spinner-rotate 0.7s linear infinite;
  }

  &--sm .spinner__circle {
    width: 1rem;
    border-width: 0.15rem;
  }

  &--md .spinner__circle {
    width: 2rem;
  }

  &--lg .spinner__circle {
    width: 3rem;
    border-width: 0.3rem;
  }
}

.spinner-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255 255 255 / 0.55);
  backdrop-filter: blur(2px);

  z-index: 9999;
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spinner__circle {
    animation-duration: 1.5s;
  }
}
