<aside id="app-sidebar" class="sidebar-layout__sidebar sidebar">
  <button
    #closeButton
    class="btn btn--close"
    type="button"
    aria-label="Cerrar menú de navegación"
    (click)="closeSidebar()"
  >
    ✕
  </button>
  <p class="u-text-muted pb-md">Menú</p>

  <nav class="sidebar__nav" aria-label="Navegación principal">
    <a
      class="sidebar__link"
      routerLink="/dashboard"
      routerLinkActive="sidebar__link--active"
      ariaCurrentWhenActive="page"
      >Inicio</a
    >
    <a
      class="sidebar__link"
      routerLink="/work-orders"
      routerLinkActive="sidebar__link--active"
      ariaCurrentWhenActive="page"
      >Órdenes</a
    >
    @if (showTechnicians()) {
      <a
        class="sidebar__link"
        routerLink="/maintenance/technicians"
        routerLinkActive="sidebar__link--active"
        ariaCurrentWhenActive="page"
        >Técnicos</a
      >
    }
    @if (showTeams()) {
      <a
        class="sidebar__link"
        routerLink="/maintenance/teams"
        routerLinkActive="sidebar__link--active"
        ariaCurrentWhenActive="page"
        >Equipos</a
      >
    }
  </nav>
</aside>
